<div class="powers">
  <% @powers.each do |power| %>
    <div class=<%= "power power_#{power.id}" %>>
      <div class="image">
        <img src="<%= power.image_url %>" width="50" height="50"/>
      <h1><%= power.title %></h1>
      <%= button_to "Add to Briefcase", briefcases_path(power_id: power.id), class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
<!-- Briefcase: <%#= @briefcase.total_count %> <%#= button_to "Save Abilities", abilities_path %> -->
</div>
<!-- potential column option:  -->
<!-- <div class="powers"> <%#= link_to "View Briefcase", briefcase_path, class: 'btn btn-primary' %>
  <%# @powers.in_groups_of(3).each do |grou| %>
  <div class="row">
    <div class="three columns">
      <%#= grou.each do |power| %>
        <div class= <%#= "power_#{power.id}" %>>
          <div class="power image">
            <img src="<%#= power.image_url %>" width="50" height="50"/>
          <h1><%#= power.title %></h1>
          <%#= button_to "Add to Briefcase", briefcases_path(power_id: power.id), class: "btn btn-info" %>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
<<<<<<< HEAD
<%# end %>  -->
=======
<% end %>
>>>>>>> 2af7ae79aee244990b42386b37650894359421c3
<!-- Briefcase: <%#= @briefcase.total_count %> <%#= button_to "Save Abilities", abilities_path %> -->
<!-- </div> -->