<div class="powers">
  <% @powers.each do |power| %>
    <div class=<%= "power_#{power.id} power" %>>
      <div class="power_image">
        <img src="<%= power.image_url %>" width="50" height="50"/>
      <h2><%= power.title %></h1>
      <%= button_to "Add to Briefcase", briefcases_path(power_id: power.id), class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
<!-- Briefcase: <%#= @briefcase.total_count %> <%#= button_to "Save Abilities", abilities_path %> -->
</div>