<body class="container welcome">
  <% unless current_user || current_admin? %>
  <div class="login_link">
    <%= link_to "enter if you dare.", login_path, class: "btn-lg btn-primary" %>
  </div>
  <% end %>
</body>