<h1>Cancelled Orders</h1>

<div class="powers">
  <% @orders.each do |order| %>
    <div class = "power">
      <p><%= link_to "Order ##{order.id}", order_path(order) %> was cancelled on <%= order.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
    </div>
  <% end %>
</div>
