<div class="orders">
  <% @orders.each do |order| %>
    <% unless order.status == "Cancelled" %>  
      <h3><%= link_to "Abilities Order ##{order.id}", order_path(order) %></h3>
      <p>Date Ordered: <%= order.created_at %></p>
    <% else %>
      <%= "Order #{order.id} was cancelled on #{order.updated_at}" %>
    <% end %>
  <% end %>
</div>
