/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

.navbar-default
  background-color: #1A1F16
  color: #2A9134
  font-weight: bold
  
.nav-tabs
  border: none
  
.navbar-right
  .btn-primary
    margin: 0px 0px
    padding: 9px 9px

body
  background-image: radial-gradient(circle at top left, white, #6CF5CC, #017BC4, #6CF5CC, white) // #F9BD20, #CA0000, #960202 
  background-size: auto 100%
  background-repeat: no-repeat
  height: stretch
  padding-top: 70px
  color: #2D2D2A
  font-family: monospace

h1
  font-size: 6vw
  text-align: center
  font-weight: bold
  
h2
  font-size: 3vw
  color: #2D2D2A
  text-align: center

a:not(.btn)
  color: #6CF5CC
  font-weight: bold
  text-shadow: -1px -1px 0 #3D69B7, 1px -1px 0 #3D69B7, -1px 1px 0 #3D69B7, 1px 1px 0 #3D69B7
  
.navbar-default
  a:nth-child(n)
    color: #6CF5CC
  
body.login
  background: url(http://www.nicksbuilding.com/Rustic_Exterior_Doors/SPKYcloseup.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
.create_account
  padding-top: 1px
  display: flex
  justify-content: center
  
  a
    color: #6CF5CC

.login_form
  form
    display: flex
    height: 500px
    justify-content: space-around
    align-items: center
  
  h4.login_label
    color: white
    padding: 6px
    padding-bottom: 20px
    text-align: center
    
    .field
      color: black

body.welcome
  background: url(http://i.imgur.com/Xf253mg.jpg?1) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  .container
    display: -webkit-flex
    display: flex
    justify-content: center
    
  a
    color: #6CF5CC

.alert
  a
    color: #3D69B7
    background-color: #6CF5CC
    padding: 4px

.powers_show
  display: flex
  justify-content: center
  
  .power_show
    margin: 20px
    padding: 30px
    border: solid
    width: 600px
    text-align: center

.powers
  display: flex
  flex-wrap: wrap
  justify-content: space-around

  .power
    margin: 20px
    padding: 10px
    padding-top: 20px
    padding-bottom: 20px
    border: solid
    width: 27%
    text-align: center
    
    h1
      text-align: center
      font-weight: bold
      font-size: 2.4vw
  
  .order
    margin: 10px
    padding: 15px
    border: solid
    width: 15%
    text-align: center

    .btn-info
      bottom: 10%
      left: 20%

.nav_index
  background-color: #3D69B7
  a:link
    color: #6CF5CC
  a:visited
    color: #6CF5CC
    
.nav_single  
  background-color: #1A1F16
  a:link
    color: #6CF5CC
  a:visited
    color: #6CF5CC

.checkout_button_or_sign_up
  text-align: center

.decrease
  text-align: left

.btn-primary
  background-color: #2A9134
  border-radius: 100
  color: #6CF5CC
  border: solid
  border-color: #6CF5CC
.btn-success
  background-color: #2A9134
.btn-info
  background-color: #6CF5CC
  color: #3D69B7
  border-color: #3ead86
    
.btn-danger
  border: solid
  border-color: #ffbca1
  color: #ffbca1

.category_title
  text-align: center
  padding: 50px
  h1
    font-size: 70px
