/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

.navbar-default
  background-color: #1A1F16
  color: #2A9134
  font-weight: bold

body
  background-color: #3D69B7
  padding-top: 70px
  color: #2D2D2A
  
h2
  color: #2D2D2A
  text-align: center
  
a
  color: #6CF5CC
  
.powers
  padding: 10px 20px 100px 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  
  .power 
    margin: 20px
    padding: 30px
    border: solid
    width: 27%
    text-align: center
    
    .power_image_briefcase
      height: 20%
      
    .power_image
      width: 100%
    
    .btn-info
      bottom: 10%
      left: 20%

.all_orders
  background-color: #1A1F16
  a:link
    color: #6CF5CC
  a:visited
    color: #6CF5CC
  
// 
// .total
//   color: #2A9134
//   text-align: center

.checkout_button_or_sign_up
  text-align: center
  
.decrease
  text-align: left

table
  width: 27%
  border-spacing: 20px
  border-collapse: separate
  
td
  padding: 10px
  min-width: 200px

.logout
  color: #A80855
  
.login
  background-color: #2A9134
  
.btn-primary
  background-color: #2A9134
  border-radius: 100
  color: #6CF5CC
  border-color: #6CF5CC
.btn-success
  background-color: #2A9134
.btn-info
  background-color: #6CF5CC
  color: #2A9134
  border-color: #2A9134
