/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
<<<<<<< HEAD
  background-color: #3D69B7
  
h1
  color: 2D2D2A
  
.powers
  padding: 10px 20px 100px 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  
  .power 
    margin: 20px
    padding: 20px
    border: solid
    width: 27%
    text-align: center
    
  
    .btn-info
      align-self: flex-end
  
.btn-primary
  background-color: #2A9134
  border-radius: 100
  color: #6CF5CC
  border-color: #6CF5CC
.btn-success
  background-color: #2A9134
.btn-info
  background-color: #6CF5CC
  color: #2A9134
  border-color: #2A9134
=======
  padding-top: 70px
>>>>>>> 2af7ae79aee244990b42386b37650894359421c3
